@{
    Layout = null;
    M_Module module = (M_Module)ViewData["module"];
}
@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;


<!--#region修改-->
<div class="close-modal" data-dismiss="modal">
    <i class="fa fa-3x fa-close"></i>
</div>
<div class="container">

    <h3 class="customer-h3 text-center">详 细</h3>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">URL唯一标识：</label>
            </div>
            <div class="col-md-10">
                <label class="customer-content-sm">@module.ModuleURLId</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">一级标题：</label>
            </div>
            <div class="col-md-10">
                <label class="customer-content-sm">@module.Title</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">二级标题：</label>
            </div>
            <div class="col-md-10">
                <label class="customer-content-sm">@module.SubTitle</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">模块描述：</label>
            </div>
            <div class="col-md-10">
                <textarea class="textareaS" disabled="disabled">@module.Description</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">顺序：</label>
            </div>
            <div class="col-md-10">
                <label class="customer-content-sm">@module.Sequence</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">模块图片：</label>
            </div>
            <div class="col-md-10">
                
            </div>
            <div class="col-lg-4 col-md-6" style="margin-top:10px;">

                @{
                    var imgSrc = "";
                    if (module.Image != null)
                    {
                        imgSrc = module.Image.VirtualPath;
                    }
                    <img class="image-smallsize" id="showUploadImage" src="@imgSrc" />
                }
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">是否链接：</label>
            </div>
            <div class="col-md-10">
                <label class="customer-content-sm">
                 @{
                     var isHref = "否";
                     if(module.IsHref)
                     {
                         isHref = "是";
                     }
                 }
                    @isHref
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">模块链接：</label>
            </div>
            <div class="col-md-10">
                <label class="customer-content-sm">@module.Href</label>

            </div>
        </div>

        <div class="form-group" id="divModuleContent">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">模块内容：</label>
            </div>
            <div class="col-md-12">
                @Html.Raw(module.Content)
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-info"
            data-dismiss="modal">
        退 出
    </button>
</div>