@{
    Layout = null;
}
@using Microsoft.AspNet.Identity;
@using Padmate.ServicePlatform.Models;
@model ChangePasswordViewModel


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="~/Content/login-style.css">

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.placeholder.js"></script>
    <style>
        .login-tip {
            color: red;
        }
    </style>


</head>


<body>
    <div class="container">
        <div id="content">
            <p>你已使用以下身份登录: <strong>@User.Identity.GetUserName()</strong>。</p>

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>“更改密码”表单</h4>
                <hr />
                @Html.ValidationSummary(false, null, new { @class = "login-tip" })
                <div class="login-tip">@ViewBag.StatusMessage</div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "当前密码", @class = "password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "新密码", @class = "password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "确认密码", @class = "password" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="更改密码" class="btn btn-default" />
                        <a href="/Home/Default">回到首页</a>
                    </div>
                </div>
            }
        </div><!-- content -->
    </div><!-- container -->
</body>

</html>
<script>
    $(function () {
        // Invoke the plugin
        $('input, textarea').placeholder({ customClass: 'my-placeholder' });

    });
</script>

