@using Padmate.ServicePlatform.Utility;
@{
    ViewBag.Title = "2016英特尔创新创业大赛海峡赛区";
}

<style>
    .failue-audit
    {
        color:red;
    }
    .waiting-audit
    {
        color:#0088cc;
    }
    .success-audit{
        color:green;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-is-4 col-sm-2 col-md-2 setting-left">
                @Html.Partial("_SystemManageLeftMenu")
            </div>
            <div class="col-xs-8 col-is-8 col-sm-10 col-md-10">
                <div class="panel-group search-area" id="accordion">
                    <div class="panel search-panel">
                        <div class="panel-heading">
                            <span class="customer-content-sm whitefont search-title">
                                <i class="fa fa-search"></i>检索条件
                            </span>
                            <a class="search-collapse searcharea-btn whitefont" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch">
                                <i class="fa fa-chevron-down"></i>
                            </a>

                            <div class="clearfix"></div>
                        </div>
                        <div id="collapseSearch" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row search-row">
                                    <div class="col-xs-4 col-is-4 col-sm-4 col-md-4">
                                        <div class="col-xs-5 col-is-5 col-sm-5 col-md-5 text-right">
                                            <label class="customer-content-xs">审核状态：</label>

                                        </div>
                                        <select id="selSearchAuditStatus" class="customer-content-xs select-mediu">
                                            <option value="">所有</option>
                                            @foreach(var key in Common.Dic_Audit.Keys)
                                            {
                                                <option value="@key">@Common.Dic_Audit[key]</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-is-4 col-sm-4 col-md-4">
                                        <div class="col-xs-5 col-is-5 col-sm-5 col-md-5 text-right">
                                            <label class="customer-content-xs">项目名称：</label>

                                        </div>
                                        <input class="input-mediu" id="tbSearchName" />
                                    </div>
                                    <div class="col-xs-4 col-is-4 col-sm-4 col-md-4">
                                        <div class="col-xs-5 col-is-5 col-sm-5 col-md-5 text-right">
                                            <label class="customer-content-xs">用户类型：</label>

                                        </div>
                                        <select id="selSearchUserType" class="customer-content-xs select-mediu">
                                            <option value="">所有</option>
                                            @foreach (var key in Common.Dic_UserTypes.Keys)
                                            {
                                                <option value="@key">@Common.Dic_UserTypes[key]</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="toolbar">
                    <button id="btnAudit" class="btn btn-danger">
                        <i class="glyphicon glyphicon-check"></i> 审核
                    </button>
                    <button id="btnEditRemark" class="btn btn-info">
                        <i class="glyphicon glyphicon-record"></i>修改备注
                    </button>
                    <button id="btnDetail" class="btn btn-default">
                        <i class="glyphicon glyphicon-record"></i>详细
                    </button>
                </div>
                <table id="table"></table>

            </div>
        </div>


    </div>
</section>
<!--#region审核-->
<div class="curd-model modal fade" id="intelProjectAudit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divAuditContainer"></div>


        </div>
    </div>
</div>
<!--详细-->
<div class="curd-model modal fade" id="intelProjectAuditDetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divAuditDetailContainer"></div>


        </div>
    </div>
</div>

<!--#endregion 详细-->
<!--Script要放在HTML标签后，才能将值绑定到标签-->
<script type="text/javascript">

    var dicAuditStatus = $.parseJSON('@Html.Raw(ViewData["AuditStatus"])');
    var dicUserTypes = $.parseJSON('@Html.Raw(ViewData["UserType"])');

    $(document).ready(function () {
        InitTable();
        InitModalEvent();
        InitToolBarButton();

        document.onkeydown = function (e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode == 13) {

                RefreshTable();
            }
        };

    });

    function DicAuditStatus(key) {
        var result = key;
        for (var i = 0; i < dicAuditStatus.length; i++) {
            if (key == dicAuditStatus[i].Key) {
                result = dicAuditStatus[i].Value;
            }
        }
        return result;
    }

    function DicUserTypes(key) {
        var result = key;
        for (var i = 0; i < dicUserTypes.length; i++) {
            if (key == dicUserTypes[i].Key) {
                result = dicUserTypes[i].Value;
            }
        }
        return result;
    }

    function InitTable() {
        $('#table').bootstrapTable({
            height: 500,
            method: 'post',                 //The method type to request remote data.
            url: '/ProjectApply/IntelInnovationProjectApply/GetPageDataForAudit',
            dataType: "json",               //The type of data that you are expecting back from the server.
            contentType: 'application/json',
            pagination: true,               //True to show a pagination toolbar on table bottom.
            pageSize: 10,                   //初始化每页显示几条
            pageNumber: 1,                   //初始化在第几页
            pageList: [10, 25, 50, 100, 200, 'All'],
            sidePagination: "server",       //服务端请求
            idField: 'Id',
            toolbar: '#toolbar',
            showRefresh: true,
            search: false,
            queryParams: ConstructQueryParams,
            clickToSelect: true,     //单击行选中数据
            //queryParamsType: "limit",
            locale: 'zh-CN',
            columns: [{
                checkbox: true
            },
                {
                    field: 'Id',
                    title: 'Id',
                    visible: false,
                },
                {
                    field: 'Name',
                    title: '项目名称',
                    sortable: true

                },
                {
                    field: 'OrganizationName',
                    title: '组织名称',
                    sortable: true

                },
                {
                    field: 'UserType',
                    title: '用户类型',
                    align:'center',
                    formatter: function (value, row, index) {

                        var result = DicUserTypes(value);

                        return result;
                    }

                },
                {
                    field: 'AuditStatus',
                    title: '审核状态',
                    formatter: function (value, row, index) {

                        var fontClass = "success-audit"
                        if (value == '@Common.Audit_Waiting') {
                            fontClass = "waiting-audit";
                        } else if (value == '@Common.Audit_Failue') {
                            fontClass = "failue-audit"
                        }
                        var result = DicAuditStatus(value);

                        return '<label class=' + fontClass + '>' + result + '</label>';
                    }

                },
                {
                    field: 'AuditRemark',
                    title: '审核备注',
                    width: '10%',
                    formatter: function (value, row, index) {

                        var result = value;
                        if (result != null && result != "" && result.length > 50) {
                            result = '<a class="custooltip" href="#">' + result.substr(0, 50) + '......<span class="classic">' + row.Description + '</span></a>';

                        }


                        return result;
                    }

                },
                {
                    field: 'Auditor',
                    title: '审核人',
                    formatter: function (value, row, index) {

                        var result = DicAuditStatus(value);

                        return result;
                    }

                },
                {
                    field: 'AuditDate',
                    title: '审核时间',
                    formatter: function (value, row, index) {
                        var result = value;
                        if (value != null) {
                            result = JsonDateFormat2(value);
                        }


                        return result;
                    }

                },
                {
                    field: 'Contact',
                    title: '联系人',
                    sortable: true

                },
                {
                    field: 'ContactPhone',
                    title: '联系电话',
                    sortable: true

                }, {
                    field: 'Application',
                    title: '申请人',
                    sortable: true

                }, {
                    field: 'ApplicationDate',
                    title: '申请时间',
                    formatter: function (value, row, index) {

                        var result = JsonDateFormat2(value);

                        return result;
                    }

                }, {
                    field: 'VoteNo',
                    title: '投票编号',
                    sortable: true
                }


            ]
        });
    }
    function ConstructQueryParams(param) {
        var params = {
            limit: param.limit, //页面大小
            offset: param.offset,//偏移数量
            page: param.offset / param.limit, //页码
            Name: $("#tbSearchName").val(),
            AuditStatus: $("#selSearchAuditStatus").val(),
            UserType: $("#selSearchUserType").val()

        };
        return params;
    }

    function CloseAuditScreen() {
        $('#intelProjectAudit').modal('hide');

    }

    function InitModalEvent() {


        $('#intelProjectAudit').on('show.bs.modal', function () {
            //打开事件
        });

        $('#intelProjectAudit').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divAuditContainer").html("");

        });
        $('#intelProjectAuditDetail').on('show.bs.modal', function () {
            //打开事件
        });

        $('#intelProjectAuditDetail').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divAuditDetailContainer").html("");

        })
    }


    function InitToolBarButton() {

        $("#btnDetail").click(function () {

            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("请选择数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            } else if (selections.length != 1) {
                layer.alert("只能选择一条数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var id = selections[0].Id;
            $('#intelProjectAuditDetail').modal('show');
            $("#divAuditDetailContainer").load("/ProjectApply/IntelInnovationProjectApply/AuditDetail?projectId=" + id);

        });

        $("#btnAudit").click(function () {
            var selections = $('#table').bootstrapTable('getSelections');

            if (selections.length == 0) {
                layer.alert("请选择数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            } else if (selections.length != 1) {
                layer.alert("只能选择一条数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            //只有审核状态为："等待审核"才允许审核
            var auditStatus = selections[0].AuditStatus;
            if (auditStatus != '@Common.Audit_Waiting') {
                layer.alert("只有'等待审核'的数据才能进行审核", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var id = selections[0].Id;
            $('#intelProjectAudit').modal('show');
            $("#divAuditContainer").load("/ProjectApply/IntelInnovationProjectApply/Audit?projectId=" + id);
        });

        //修改备注
        $("#btnEditRemark").click(function () {
            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("请选择数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }
            var projectQueIds = [];
            for (var i = 0; i < selections.length; i++) {
                var id = selections[i].QueId;
                projectQueIds.push(id);

            }

            var prompt = layer.prompt({
                title: '请输入备注',
                formType: 2 //prompt风格，支持0-2
            }, function (remark) {

                var jsonProjectQueId = JSON.stringify(projectQueIds);
                var obj = {
                    AuditRemark: remark,
                    Id: jsonProjectQueId

                };

                $.ajax({
                    type: "post",//使用get方法访问后台
                    dataType: "json",//返回json格式的数据
                    url: "/ProjectApply/IntelInnovationProjectApply/BatchUpdateRemark",
                    data: obj,
                    async: false,
                    success: function (message) {
                        if (message.Success) {
                            RefreshTable();
                            layer.close(prompt);
                        } else {
                            layer.close(prompt);

                            layer.alert(message.Content, {
                                skin: 'layui-layer-molv'
                                , closeBtn: 0
                                , shift: 5 //动画类型
                            });

                        }

                    }
                });
            });



        });
    }

    function RefreshTable() {
        $('#table').bootstrapTable('refresh');

    }
</script>    