@using Padmate.ServicePlatform.Models;
@using Padmate.ServicePlatform.Utility;
@{
    M_User user = (M_User)ViewData["UserInfo"];
    ViewBag.Title = "用户信息";
    var from = Request["from"];

    var tipMsg = string.Empty;
    if (from == "register")
    {
        tipMsg += "用户注册成功，请尽快完善用户资料。";
    }
    
    
}
<style>
    .tip{
        color:red;
        font-size:18px;
        padding:10px 20px;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-is-4 col-sm-2 col-md-2 setting-left">
                @Html.Partial("_SettingLeftMenu")
            </div>
            <div class="col-xs-8 col-is-8 col-sm-10 col-md-10">

                <!--用户信息-->

                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-is-12 col-sm-12 col-md-12">
                            <label class="customer-content-sm tip">@tipMsg</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-is-4 col-sm-3 col-md-2 text-right">
                            <label class="customer-content-sm">用户名称：</label>
                        </div>
                        <div class="col-xs-12 col-is-8 col-sm-5 col-md-4">
                            <label class="customer-content-sm">@user.UserName</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-is-4 col-sm-3 col-md-2 text-right">
                            <label class="customer-content-sm">用户类型：</label>
                        </div>
                        <div class="col-xs-12 col-is-8 col-sm-5 col-md-4">
                            @{
                                var userType = string.Empty;
                                if(!string.IsNullOrEmpty(user.UserType))
                                {
                                    userType = Common.Dic_UserTypes.ContainsKey(user.UserType) ?
                                    Common.Dic_UserTypes[user.UserType] : user.UserType;
                                }
                                
                            }
                            <label class="customer-content-sm">@userType</label>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-xs-12 col-is-4 col-sm-3 col-md-2 control-label">
                            <label class="customer-content-sm">邮 箱：</label>
                        </div>
                        <div class="col-xs-12 col-is-8 col-sm-5 col-md-4">
                            <input class="input-large-full" id="tbEmail" placeholder="邮 箱" value="@user.Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-is-4 col-sm-3 col-md-2 control-label">
                            <label class="customer-content-sm">联系电话：</label>
                        </div>
                        <div class="col-xs-12 col-is-8 col-sm-5 col-md-4">
                            <input class="input-large-full" id="tbPhoneNumber" placeholder="联系电话" value="@user.PhoneNumber" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-is-12 col-sm-8 col-md-6 text-right">
                            <input type="button" class="btn btn-success" onclick="SaveEdit()" value="保存更改"/>
                        </div>
                        

                    </div>

                </div>
            </div>
        </div>


    </div>
</section>

<script>


    //修改或新增保存
    function SaveEdit() {

        $("body").showLoading();
        var saveObj = ConstructSaveObj();
        var jsonParam = JSON.stringify(saveObj);
        $.ajax({
            type: "POST",
            url: "/User/User/SetUserInfo",
            dataType: "json",
            data: jsonParam,
            async: false,   //同步
            success: function (message) {

                $("body").hideLoading();

                layer.alert(message.Content, {
                    skin: 'layui-layer-molv' //样式类名
                  , closeBtn: 0
                });
            }
        });
    }

    //构造保存对象
    function ConstructSaveObj() {
        
        

        var obj = {
            Id: '@user.Id',
            Email: $("#tbEmail").val(),
            PhoneNumber: $("#tbPhoneNumber").val()
        };

        return obj;
    }
</script>