@using Microsoft.AspNet.Identity
@using System.Configuration;
@using Padmate.ServicePlatform.Utility;
@{
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
}


<style>
    
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account",new{area=""}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right login-box fa-dropdown">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #8EC31E; background-color: transparent;">
                @User.Identity.GetUserName()
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu login-li-bg">
                @{
                    if (User.IsInRole(SystemRole.BackstageAdmin) || User.IsInRole(SystemRole.SystemAdmin))
                    {
                        <li>
                            <a href="@string.Format("/manage/homebackground{0}", urlRewriteExtension)">后台管理</a>
                        </li>
                    }
                }
                <li>
                    <a href="@string.Format("/manage/userinfo{0}", urlRewriteExtension)">设置</a>

                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()" >注销</a></li>
            </ul>
        </li>

    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right login-box">
        <li>@Html.ActionLink("登录", "Login", "Account", new { area="",ReturnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink", style = "color: #8EC31E;" })</li>
    </ul>
}
