@{
    ViewBag.Title = "活动";
    ViewBag.Description = "智能+创新创业服务平台》活动";
    List<M_Article> firstThreeActivitiyForecast = (List<M_Article>)ViewData["FirstThreeActivitiyForecast"];
    List<M_Article> firstThreeWonderfulActivies = (List<M_Article>)ViewData["FirstThreeWonderfulActivies"];
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    var type = Request["type"];
    type = string.IsNullOrEmpty(type) ? Common.ActivityForecast : type;
}
@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;
@using System.Configuration;

<link href="~/Scripts/jiathis/jiathis-share.css" rel="stylesheet">
<script type="text/javascript" src="~/Scripts/jiathis/jiathis-share.js" charset="utf-8"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=2107415" charset="utf-8"></script>

<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-is-8 col-sm-8 col-md-8" id="left">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <h2 class="customer-h2">@Common.Dic_ArticleType[type.ToLower()]</h2>
                        
                        <div class="articleBody" id="articleBody"></div>
                        <div class="articlePageBar">
                            <ul id="articlePaginator"></ul>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-is-4 col-sm-4 col-md-4">
                <fieldset class="article-search-section">
                    <input type="text" class="form-control input-lg articleSearchInput" placeholder="Search Titles">
                    <a href="#javaScript:void(0)" class="articleSearchButton"><i class="fa fa-search fa-2x text-info"></i></a>

                </fieldset>

                <div class="article-right" id="right">
                    <ul class="articleTag" id="tagTab">
                        <li>
                            <a class="btn btn-xl" id="@Common.ActivityForecast" href="@string.Format("/activity/{0}{1}",Common.ActivityForecast ,urlRewriteExtension)">活动预告</a>
                        </li>
                        <li>
                            <a class="btn btn-lg" id="@Common.WonderfulActivity" href="@string.Format("/activity/{0}{1}",Common.WonderfulActivity ,urlRewriteExtension)">精彩活动</a>
                        </li>
                        
                    </ul>
                    <div id="recentActivities">
                        <h3 class="customer-h3">最新预告</h3>
                        @foreach (var article in firstThreeActivitiyForecast)
                        {
                            var activityHref ="/activity/"+Common.ActivityForecast+"/"+ article.Id + urlRewriteExtension;
                            <span>
                                <a class="customer-content-sm" href='@activityHref' style="cursor:pointer">
                                    @article.SubTitle - @article.Pubtime.ToString("yyyy/MM/dd")
                                </a>
                            </span>
                            <br/><br/>
                        }

                        <h3 class="customer-h3">最新活动</h3>
                        @foreach (var article in firstThreeWonderfulActivies)
                        {
                            var activityHref = "/activity/" + Common.WonderfulActivity + "/" + article.Id + urlRewriteExtension;                       
                            <span>
                                <a class="customer-content-sm" href="@activityHref" style="cursor:pointer">
                                    @article.SubTitle - @article.Pubtime.ToString("yyyy/MM/dd")
                                </a>
                            </span>
    <br /><br />
                        }
                        
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>

<script>
    var currentPage = '@Request["page"]';
    var _currentPage = currentPage != null && currentPage != "" ? currentPage : 1;

    var type = '@Request["type"]';
    //当前内容面板类型（即文章类型_tabType）
    //如果锚点标记不为空，则锚点标记即为当前tab类型，否则默认为“活动预告”
    var _tabType = type != null && type != "" ? type : @Common.ActivityForecast;

    $(function () {

        $("#"+_tabType).parent().addClass("active");
        //初始化分页数据
        InitPaging();

        //查询按钮事件
        $(".articleSearchButton").click(function (e) {

            InitPaging();
        });
        $('.articleSearchInput').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                InitPaging();
            }
        });

    })

    //设置右边div高度与左边一致
    function SetRightHeight() {
        var divHeight = $('#left').height();
        $('#right').css({ 'height': divHeight});
    }

    function InitPaging()
    {
        //获取总页数及当前页数据
        var pageResult = GetPageData(_currentPage);
        //加载当前页数据
        RenderPageData(pageResult.data);

        //重置分页条
        ResetPaginator();
        //超过一页才显示分页
        if (pageResult.totalPages > 1) {
            InitPaginator(pageResult.totalPages);
        }

    }
    //重置分页条
    function ResetPaginator()
    {
        $("#articlePaginator").html("");

    }
    //配置分页属性
    function InitPaginator(totalPages)
    {
        //重置分页条

        var options = {
            size: 'large',            //指定分页条的大小
            bootstrapMajorVersion: 3,  //指定bootstrap版本，为v3，则容器必须为ul;如果版本为v2，则容器必须为div
            numberOfPages: 10,         //设置可选分页按钮个数，默认5
            currentPage: _currentPage,          //当前页
            totalPages: totalPages,         //总页数（从服务端获取）
            //onPageClicked: function (e, originalEvent, type, page) {
            //    //获取分页数据
            //    var result = GetPageData(page);
            //    //渲染当前页数据
            //    RenderPageData(result.data);
            //},
            pageUrl: function(type, page, current){
                var url = '@string.Format("/activity/{0}{1}",type, @urlRewriteExtension)';
                if(page !=1)
                {
                    url = url+"?page="+page;
                }

                return url;

            },
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first":
                        return "第一页";
                    case "prev":
                        return "前一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "最后一页";
                    case "page":
                        return page;
                }
            }
        }

        $("#articlePaginator").bootstrapPaginator(options);
    }
    //获取分页数据
    function GetPageData(currentPage)
    {

        var resultData = {
            totalPages: 0,
            data: null
        };

        var params = {
            "ArticleType": _tabType,
            "SubTitle": $(".articleSearchInput").val(),
            "page": currentPage
        };

        //添加遮罩
        $(".article-search-section").showLoading();
        //获取数据总页数
        $.ajax({
            type: "POST",
            url: "/Infra/Article/GetPageData",
            data: params,
            dataType: "json",
            async: false,   //同步
            success: function (result) {

                resultData.totalPages = result.totalPages;
                resultData.data = result.pageDatas;
                //添加遮罩
                $(".article-search-section").hideLoading();
            }
        });

        return resultData;

    }

    //重新生成Body
    function RenderPageData(articles)
    {
        var dynamicHtml = "";
        for (var i = 0; i < articles.length;i++)
        {

            var pubTime = eval('new ' + eval(articles[i].Pubtime).source);

            var localDate = pubTime.toLocaleDateString();


            var contentHref = "/activity/"+_tabType+"/" + articles[i].Id+ '@urlRewriteExtension';
            var shareHref = window.location.host + contentHref;


            dynamicHtml += '<div class="row article-row">';
            dynamicHtml += '<div class="col-md-12">';
            dynamicHtml += '<h3 class="customer-h3">' + articles[i].SubTitle + '</h3>';

            //一键分享
            dynamicHtml += '<div onmouseover=setShare("' + articles[i].Id + '","' + shareHref + '")>';
            dynamicHtml += '<div class="jiathis_style">';
            dynamicHtml += '<a href="http://www.jiathis.com/share?uid=2107415" class="jiathis jiathis_txt" target="_blank">';
            dynamicHtml += '<img src="/img/logos/share.gif" border="0" />';
            dynamicHtml += '</a>';
            dynamicHtml += '</div>';
            dynamicHtml += '</div>';

            dynamicHtml += '<p class="customer-content-sm text-right">' + localDate + '</p>';
            dynamicHtml += '</div>';
            dynamicHtml += '<div class="col-md-4">';
            dynamicHtml += '<a href="' + contentHref + '">';
            var imageVirtualPath = "";
            if (articles[i].Image != null)
                imageVirtualPath = articles[i].Image.VirtualPath;
            dynamicHtml += '<img src="' + imageVirtualPath + '" class="img-responsive" alt="无图标"/>';
            dynamicHtml += '</a>';
            dynamicHtml += '</div>';
            dynamicHtml += '<div class="col-md-8">';
            dynamicHtml += '<p class="customer-content-sm">';
            dynamicHtml += articles[i].Description ==null ?"":articles[i].Description;
            dynamicHtml += '</p>';
            dynamicHtml += '<a class="btn-gelatine btn-gelatine-info" href="' + contentHref + '"><strong>阅读全文</strong></a>';

            dynamicHtml += '</strong></a>';
            dynamicHtml += '</div>';
            dynamicHtml += '</div>';
        }
        $("#articleBody").html(dynamicHtml);

    }

</script>