@using Padmate.ServicePlatform.Models;
@using Padmate.ServicePlatform.Utility;
@{
    Layout = null;
    var user = (M_User)ViewData["UserInfo"];

    var userType = string.Empty;
    if (!string.IsNullOrEmpty(user.UserType))
    {
        userType = Common.Dic_UserTypes.ContainsKey(user.UserType) ?
        Common.Dic_UserTypes[user.UserType] : user.UserType;
    }

    //项目内容
    var project = (M_IntelInnovationProjectApply)ViewData["project"];
}

<link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
<script src="~/Scripts/webuploader/webuploader.js"></script>

<style>
   

    .attachment-delete {
        float: right;
    }

    .projectArea {
        margin-bottom: 100px;
    }

    #thelist {
        margin-bottom: 10px;
    }
    #thelist a{
        margin:5px;
        text-decoration:underline
    }

     .projectStatus {

        padding-bottom: 20px;
    }
    .projectStatus span{
        color:red;
    }
    .amail{
        color:red;
        text-decoration:underline;
    }
    .amail :hover,.amail:focus,.amail:active
    {
        color:red;
    }
    .radio-div{
        vertical-align:middle;
        float:left;
        margin-right:20px;
    }
    .other-input{
        width:200px;
        BORDER-TOP-STYLE: none;
        BORDER-RIGHT-STYLE: none; 
        BORDER-LEFT-STYLE: none; 
        BORDER-BOTTOM-STYLE: solid;
        outline:none;
    }
</style>

<div class="container">
    <div class="row projectArea">
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="cols-xs-12 col-sm-12 col-md-7">
                <div class="col-md-9 col-md-offset-3">
                    <!--项目状态-->
                    <div class="customer-content-md projectStatus">

                        <span id="AuditStatusMsg" class="customer-content-sm red"></span><br />
                        <textarea id="taAuditRemarkMsg" hidden></textarea>
                        <span id="spAuditRemarkMsg" class="customer-content-sm red"></span>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-sm-12 col-md-7">
            
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">@string.Format("{0}名称",userType)：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-OrganizationName"  placeholder="@string.Format("{0}名称",userType)" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">项目名称：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-Name" placeholder="项目名称" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                        <label class="customer-content-sm">所属行业领域：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        @foreach (var key in Common.Dic_FieldScope.Keys)
                        {
                            if (key != Common.FieldScope_Other)
                            {
                                <div class="radio-div">
                                    <input  name="ckFieldScope" type="radio" value="@key" id="@string.Format("ck{0}",key)" />
                                    <label for="@string.Format("ck{0}",key)">@Common.Dic_FieldScope[key]</label>
                                </div>
                            }
                            else
                            {
                                <div class="radio-div" style="margin-right:0px;">
                                    <div style="float:left;">
                                        <input name="ckFieldScope" type="radio" value="@key" id="@string.Format("ck{0}",key)" />
                                        <label for="@string.Format("ck{0}",key)">@Common.Dic_FieldScope[key] </label>
                                    </div>
                                    <div style="float:left;">
                                        <input class="other-input data-FieldScopeName" style="display:none" type="text" />

                                    </div>
                                    <div style="clear:both;"></div>

                                </div>

                            }
                        }
                        

                        
                        <div style="clear:both;"></div>
                    </div>

                </div>
                
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                        <label class="customer-content-sm">项目阶段：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        @foreach (var key in Common.Dic_ProjectStage.Keys)
                        {
                            <div class="radio-div">
                                <input name="ckProjectStage" type="radio" value="@key" id="@string.Format("ck{0}",key)" />
                                <label for="@string.Format("ck{0}",key)">@Common.Dic_ProjectStage[key]</label>
                            </div>
                        }
                       
                        <div style="clear:both;"></div>
                        
                    </div>

                </div>
                @if (user.UserType == Common.UserType_Enterprise)
                {
                    <div class="form-group">
                        <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                            <label class="customer-content-sm">营业执照注册号：</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <input class="input-large-full data-BusinessLicense" placeholder="营业执照注册号" type="text" />
                        </div>
                    </div>
                }
                
                
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                        <label class="customer-content-sm">@string.Format("{0}成立时间", userType)：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <div class="input-group date form_datetime" data-date=""
                             data-date-format="yyyy-mm-dd" data-link-field="FoundedTime">
                            <input class="form-control data-FoundedTime" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <input type="hidden"  id="FoundedTime" name="FoundedTime" value="" />

                    </div>

                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                        <label class="customer-content-sm">办公地址：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <textarea  class="textarea-large-full data-BusinessAddress" style="height:50px;"></textarea>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">网址：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-Website" placeholder="网址" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">微信公众号：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-WebChatNumber" placeholder="微信公众号" type="text" />
                    </div>
                </div>
                
               
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">@string.Format("{0}概要",userType)：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <textarea class="textarea-large-full data-OrganizationDescription"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">项目简介：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <textarea class="textarea-large-full data-Description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">核心技术：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <textarea class="textarea-large-full data-CoreTechnology"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">关键词：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-Keyword" placeholder="关键词" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">上传商业计划书：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <div id="uploadFiles">上传附件</div>
                        <label class="customer-content-xs" style="color:red;">
                            计划书应包含项目背景、项目创新点、财务数据、核心团队等内容<br/>
                            超过20M或有视频介绍请发至邮箱
                            <a class="amail" href="mailto:syj@padmate.cn">syj@padmate.cn</a>
                        </label>

                        <div id="thelist" class="uploader-list"></div>

                    </div>

                </div>


            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <label class="customer-content-sm">@string.Format("{0}负责人信息", userType)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">姓名：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-Principal" placeholder="@string.Format("{0}负责人姓名", userType)" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">电话：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-PrincipalPhone" placeholder="@string.Format("{0}负责人电话", userType)" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">邮件：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-PrincipalMail" placeholder="@string.Format("{0}负责人邮件", userType)" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">职位：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-PrincipalPosition" placeholder="@string.Format("{0}负责人职位", userType)" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <label class="customer-content-sm">联系人人信息</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">姓名：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-Contact" placeholder="联系人姓名" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">电话：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-ContactPhone" placeholder="联系人电话" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">邮件：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-ContactMail" placeholder="联系人邮件" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        <label class="customer-content-sm">职位：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <input class="input-large-full data-ContactPosition" placeholder="联系人职位" type="text" />
                    </div>
                </div>

            </div>
            
        </div>

        <div class="col-md-12">
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-7 text-right">
                        <a class="btn-gelatine btn-gelatine-success" href="javaScript:void(0);" id="btnSave">保 存</a>
                        <a class="btn-gelatine btn-gelatine-info" href="javaScript:void(0);" id="btnApply">提交申请</a>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>

    //一次性上传的文件数
    var uploadFileNum = 0;
    var dicAuditStatus = $.parseJSON('@Html.Raw(ViewData["AuditStatus"])');
    var dicFieldScope = $.parseJSON('@Html.Raw(ViewData["FieldScope"])');

    $(function () {
        //时间控件
        InitDatepicker(".form_datetime");

        FieldScopeRadioEvent();


        InitButton();
        var userId = '@user.Id';
        LoadProjectByUserId(userId);

        if (!WebUploader.Uploader.support()) {
            alert('当前页面一些功能不支持您的浏览器！如果你使用的是IE浏览器，请尝试升级 flash 播放器');
            throw new Error('function does not support the browser you are using.');
        } else {
            InitFileUploader();

        }

    });


    function DicAuditStatus(key) {
        var result = key;
        for (var i = 0; i < dicAuditStatus.length; i++) {
            if (key == dicAuditStatus[i].Key) {
                result = dicAuditStatus[i].Value;
            }
        }
        return result;
    }

    function DicFieldScope(key) {
        var result = key;
        for (var i = 0; i < dicFieldScope.length; i++) {
            if (key == dicFieldScope[i].Key) {
                result = dicFieldScope[i].Value;
            }
        }
        return result;
    }

    //根据用户ID加载项目数据
    function LoadProjectByUserId(userId) {

        $.ajax({
            type: "POST",
            url: "/ProjectApply/IntelInnovationProjectApply/LoadProjectDataByUserId",
            dataType: "json",
            data: { UserId: userId },
            async: false,   //同步
            success: function (message) {
                if (message.Success) {

                    var project = $.parseJSON(message.Content);
                    if (project.FoundedTime != null && project.FoundedTime != "")
                    {
                        project.FoundedTime = JsonDateFormat3(project.FoundedTime);

                    }
                    $.SetBindData(project);

                    CheckFieldScopeRadio(project.FieldScopeCode,project.FieldScopeName);
                    CheckProjectStageRadio(project.ProjectStage);
                    RefreshFileQueueList(project.Attachments);

                    if (project.LatestQue != null) {
                        $("#AuditStatusMsg").html("审核状态：" + DicAuditStatus(project.LatestQue.AuditStatus));
                    }

                    if (project.LatestQue != null
                        && project.LatestQue.AuditRemark != null
                        && project.LatestQue.AuditRemark != "") {

                        $("#taAuditRemarkMsg").html("审核备注：" + project.LatestQue.AuditRemark);
                        document.getElementById("spAuditRemarkMsg").innerText = $("#taAuditRemarkMsg").val();
                    }


                } else {


                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });
                    return;
                }

            }
        });

    }

    function EmptyContent() {
        $(".projectArea :input[type=text]").val("");
        $(".projectArea textarea").val("");
        $("#spAuditRemarkMsg").html("");


    }

    function LoadProjectAttachmentsByProjectId(projectId) {
        var result = null;
        $.ajax({
            type: "POST",
            url: "/ProjectApply/IntelInnovationProjectApply/LoadProjectAttachmentDataByProjectId",
            dataType: "json",
            data: { ProjectId: projectId },
            async: false,   //同步
            success: function (data) {

                result = data;
            }
        });
        return result;

    }

    function CheckHasExample(value) {

        if (value != null && value) {
            $("input[name='HasExample'][value=true]").attr('checked', true);

        } else {
            $("input[name='HasExample'][value=false]").attr('checked', true);

        }
    }

    function CheckFieldScopeRadio(fieldcode,fieldname)
    {
        if(fieldcode != null && fieldcode !="")
        {
            $("input[name='ckFieldScope'][value=" + fieldcode + "]").attr('checked', true);

            if (fieldcode != '@Common.FieldScope_Other') {
                $(".data-FieldScopeName").css("display", "none");

            } else {
                $(".data-FieldScopeName").css("display", "block");

            }
            $(".data-FieldScopeName").val(fieldname);
        }
        

    }

    function CheckProjectStageRadio(value) {
        if (value != null && value != "") {
            $("input[name='ckProjectStage'][value=" + value + "]").attr('checked', true);

        }
    }

    function FieldScopeRadioEvent() {
        $("input[name='ckFieldScope']").click(function () {

            var clickValue = $(this).val();
            if (clickValue != '@Common.FieldScope_Other') {
                var fieldScopeName = DicFieldScope(clickValue);
                $(".data-FieldScopeName").val(fieldScopeName);
                $(".data-FieldScopeName").css("display", "none");

            } else {
                $(".data-FieldScopeName").css("display", "block");
                $(".data-FieldScopeName").val("");

            }

        });
    }



    //当前点击按钮是不是“提交申请”
    var _isApplyButton = false;
    var _buttonSaveSuccessMsg;
    function InitButton() {
        $("#btnApply").click(function () {
            _isApplyButton = true;
            _buttonSaveSuccessMsg = "申请成功";
            SaveAndApply();
        });
        $("#btnSave").click(function () {
            _isApplyButton = false;
            _buttonSaveSuccessMsg = "保存成功";
            SaveAndApply();
        });
    }

    function ConstructObj() {
        var obj = {
            Id: "",
            Name: "",
            OrganizationName: "",
            FieldScopeCode: "",
            FieldScopeName: "",
            ProjectStage: "",
            BusinessLicense: "",
            FoundedTime: "",
            BusinessAddress: "",
            Website: "",
            WebChatNumber: "",
            Principal: "",
            PrincipalPosition: "",
            PrincipalPhone: "",
            PrincipalMail: "",
            Contact: "",
            ContactPhone: "",
            ContactPosition: "",
            ContactMail: "",
            OrganizationDescription: "",
            Description: "",
            CoreTechnology: "",
            Keyword: ""
        };

        return obj;

    }
    var mask;
    ///保存和提交
    //buttonType:save/apply
    function SaveAndApply() {
        var url = "/ProjectApply/IntelInnovationProjectApply/SaveEdit";
        if (_isApplyButton) {
            url = "/ProjectApply/IntelInnovationProjectApply/Apply";
        }

        var obj = ConstructObj();
        obj = $.GetBindData(obj);
        obj.Id = '@project.Id';
        obj.FieldScopeCode = $("input[name='ckFieldScope']:checked").val();
        obj.ProjectStage = $("input[name='ckProjectStage']:checked").val();

        var fileList = $("#thelist div");
        if (_isApplyButton && fileList.length == 0) {
            layer.alert("请上传商业计划书", {
                skin: 'layui-layer-molv' //样式类名
                     , closeBtn: 0
            });
            return;
        }

        mask = layer.load(0,  //0代表加载的风格，支持0-2
        {
            shade: [0.5, '#fff'] //0.1透明度的白色背景
        });

        var jsonParam = JSON.stringify(obj);
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            data: jsonParam,
            async: false,   //同步
            success: function (message) {


                if (message.Success) {

                   
                    //上传文件
                    var files = fileUploader.getFiles("inited");//初始状态
                    uploadFileNum = files.length;

                    if (files.length > 0) {
                        UploadFiles();


                    } else {//如果当前没有文件上传
                        
                        if (_isApplyButton) {
                            
                            layer.close(mask);
                            layer.alert(_buttonSaveSuccessMsg, {
                                skin: 'layui-layer-molv' //样式类名
                                , closeBtn: 0
                            }, function () {
                                //如果是提交申请，则直接刷新当前页面
                                window.location.reload();
                            });

                        } else {
                            //重新加载数据
                            LoadProjectByUserId('@user.Id');
                            layer.close(mask);
                            layer.alert(_buttonSaveSuccessMsg, {
                                skin: 'layui-layer-molv' //样式类名
                                , closeBtn: 0
                            });
                        }
                    }



                } else {

                    layer.close(mask);
                    //tips层
                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });
                }

            }
        });
    }

    var fileUploader;
    function InitFileUploader() {

        var GUID = WebUploader.Base.guid();//一个GUID
        // 初始化Web Uploader
        fileUploader = WebUploader.create({
            auto: false,   // 选完文件后，是否自动上传。
            swf: '../Scripts/webuploader/Uploader.swf',
            server: '/ProjectApply/IntelInnovationProjectApply/ChunkedUploadAttachment',
            duplicate: true, //可重复上传同一文件
            pick: '#uploadFiles',  // 选择文件的按钮。可选。内部根据当前运行是创建，可能是input元素，也可能是flash.
            compress: false, //图片不压缩
            multiple: true,
            fileSingleSizeLimit: 20 * 1024 * 1024, // 单个文件最大不能超过20 M
            chunked: true,//开始分片上传
            chunkSize: 2 * 1024 * 1024,//每一片的大小为2M
            formData: {
                guid: GUID //自定义参数
            },
            accept: {
                title: 'file',
                extensions: 'doc,docx,xls,xlsx,ppt,pptx,pdf,rar,zip,bmp,gif,jpg,jpeg,png'
                //mimeTypes: 'image/*,text/plain,application/msword,application/x-xls,application/vnd.ms-excel,application/x-ppt,application/vnd.ms-powerpoint,application/pdf,application/rtf,application/x-rtf,application/zip,application/x-rar-compressed'
            }


        });

        fileUploader.on('beforeFileQueued', function (file) {


        });

        fileUploader.on('fileQueued', function (file) {
            AddFileQueueData(file);

        });

        fileUploader.on('uploadStart', function (file) {
            
        });

        fileUploader.on('uploadProgress', function (file, percentage) {


        });


        fileUploader.on('error', function (handler) {

            //隐藏遮罩
            layer.close(mask);
            if (handler == "Q_TYPE_DENIED") {
                alert("文件类型不支持");
            }

            if (handler == "Q_EXCEED_NUM_LIMIT") {
                alert("超出最大张数");
            }
            if (handler == "F_DUPLICATE") {
                alert("不能重复上传同一文件");
            }
            if (handler == "F_EXCEED_SIZE") {

                layer.alert("文件大小不能超过20M,超过20M请发至邮箱 syj@padmate.cn", {
                    skin: 'layui-layer-molv' //样式类名
                       , closeBtn: 0
                });
            }
        });


        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        fileUploader.on('uploadSuccess', function (file, response) {

            if (response.Success == false || response.Success == "false") {
                layer.alert(response.Content, {
                    skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                });
            } else {
                ;
                var obj = {
                    IntelInnovationProjectApplyId: '@project.Id',
                    guid: GUID,
                    fileName: file.name,
                    extension: file.ext
                };

                $.post('/ProjectApply/IntelInnovationProjectApply/MergeFile', obj, function (data) {
                    
                    --uploadFileNum;
                    //当最后一文件上传完之后再执行刷新操作
                    if (uploadFileNum == 0) {
                        layer.close(mask);
                        //上传成功
                        if (_isApplyButton) {
                            layer.close(mask);
                            //如果当前是提交申请，则直接刷新当前页面
                            layer.alert(_buttonSaveSuccessMsg, {
                                skin: 'layui-layer-molv' //样式类名
                                    , closeBtn: 0
                            }, function () {
                                window.location.reload();
                            });

                        } else {
                            layer.close(mask);
                            LoadProjectByUserId('@user.Id');

                            //删除队列中当前上传完的文件
                            fileUploader.removeFile(file, true);

                            layer.alert(_buttonSaveSuccessMsg, {
                                skin: 'layui-layer-molv' //样式类名
                                    , closeBtn: 0
                            });
                        }
                    }


                });

            }

        });

        fileUploader.on('uploadFinished', function () {
            //无论有没有要上传的文件都会进入
            //layer.close();



        });


        // 完成上传完了，成功或者失败，先删除进度条。
        fileUploader.on('uploadComplete', function (file) {
        });
    }

    function UploadFiles() {

        //fileUploader.options.formData.articleId = articleId;
        fileUploader.upload();
    }

    //添加文件队列
    function AddFileQueueData(file) {


        var dynamicHtml = "";

        dynamicHtml += '<div id="' + file.id + '">';
        dynamicHtml += '<a class="customer-content-sm" href="javaScript:void(0)">' + file.name + '</a>';
        dynamicHtml += '<a class="customer-content-sm attachment-delete" href="javaScript:void(0)" onclick="RemoveFileQueueData(' + file.id + ')">';
        dynamicHtml += '<i class="fa fa-remove"></i>删除';
        dynamicHtml += '</a>';
        dynamicHtml += '<div class="clearfix"></div>';
        dynamicHtml += '</div>';

        $("#thelist").append(dynamicHtml);
    }

    function RemoveFileQueueData(div) {


        //删除文件显示信息
        $("#" + div.id).remove();


        var file = fileUploader.getFile(div.id);
        //删除队列中的文件
        fileUploader.removeFile(file, true);

    }



    //清空文件上传队列
    function EmptyFileQueue() {
        var files = fileUploader.getFiles();
        for (var i = 0; i < files.length; i++) {
            //删除队列中的文件
            fileUploader.removeFile(files[i], true);
        }

    }

    //重新刷新附件表格
    function RefreshFileQueueList(attachments) {

        //先清空
        $("#thelist").html("");

        var dynamicHtml = "";
        if (attachments != null && attachments.length > 0) {
            for (var i = 0; i < attachments.length; i++) {
                dynamicHtml += '<div id="divatt-' + attachments[i].Id + '">';
                dynamicHtml += '<a class="customer-content-sm" href="' + attachments[i].VirtualPath + '">' + attachments[i].Name + '</a>';
                dynamicHtml += '<a class="customer-content-sm attachment-delete" href="javaScript:void(0)" onclick="DeleteFile(' + attachments[i].Id + ')">';
                dynamicHtml += '<i class="fa fa-remove"></i>删除';
                dynamicHtml += '</a>';
                dynamicHtml += '<div class="clearfix"></div>';
                dynamicHtml += '</div>';
            }
        }


        $("#thelist").html(dynamicHtml);

    }

    function DeleteFile(attachmentId) {

        $.ajax({
            type: "POST",
            url: "/ProjectApply/IntelInnovationProjectApply/DeleteAttachment",
            dataType: "json",
            data: { Id: attachmentId },
            async: false,   //同步
            success: function (message) {
                if (message.Success == false || message.Success == "false") {
                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                       , closeBtn: 0
                    });
                    return;
                } else {
                    //在列表中移除
                    $("#divatt-" + attachmentId).remove();
                    
                }

            }
        });
    }




</script>