@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;
@{
    Layout = null;
    var project = (M_IntelInnovationProjectApply)ViewData["project"];
    
    var user = (M_User)ViewData["user"];
    var userType = string.Empty ;
    if(!string.IsNullOrEmpty(user.UserType) && Common.Dic_UserTypes.ContainsKey(user.UserType))
    {
        userType = Common.Dic_UserTypes[user.UserType];
    }
    
}


<style>
    .attachmen-list
     {
         padding-bottom:10px;
     }
     .attachmen-list a
     {
        text-decoration:underline;
     }
     .que-list{
         margin-top:10px;
         margin-bottom:20px;
     }
     .form-group .content{font-weight:normal}

</style>
<div class="close-modal" data-dismiss="modal">
    <i class="fa fa-3x fa-close"></i>
</div>
<div class="container">

    <h3 class="customer-h3 text-center">审 核</h3>
    <div class="modal-footer">
        <button id="btnConfirm" class="btn btn-lg btn-success">
            <i class="glyphicon glyphicon-check"></i> 确 认
        </button>
        <button id="btnReject" class="btn btn-lg btn-danger">
            <i class="glyphicon glyphicon-check"></i> 拒 绝
        </button>
        <button type="button" class="btn btn-lg btn-info"
                data-dismiss="modal">
            退 出
        </button>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="form-horizontal" style="padding-bottom:100px;">
            <div class="form-group">

                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}名称", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.OrganizationName</label>

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">项目名称：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.Name</label>

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">所属行业领域：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.FieldScopeName</label>

                </div>

            </div>

            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">项目阶段：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@Common.Dic_ProjectStage[project.ProjectStage]</label>


                </div>

            </div>
            @if (user.UserType == Common.UserType_Enterprise)
            {
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                        <label class="customer-content-sm">营业执照注册号：</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <label class="customer-content-sm content">@project.BusinessLicense</label>

                    </div>
                </div>

            }
            
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">成立时间：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">

                        @System.Convert.ToDateTime(project.FoundedTime).ToString("yyyy-MM-dd")
                    </label>

                </div>

            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">办公地址：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <textarea id="taBusinessAddress" disabled="disabled" class="textarea-large-full hidden">@project.BusinessAddress</textarea>
                    <div id="divBusinessAddress">
                        <span class="customer-content-sm content" id="spBusinessAddress"></span>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">网址：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.Website</label>

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">微信公众号：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.WebChatNumber</label>

                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}概要", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <textarea id="taOrganizationDescription" disabled="disabled" class="textarea-large-full hidden">@project.OrganizationDescription</textarea>
                    <div id="divOrganizationDescription">
                        <span class="customer-content-sm content" id="spOrganizationDescription"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">项目简介：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <textarea id="taDescription" disabled="disabled" class="textarea-large-full hidden">@project.Description</textarea>
                    <div id="divDescription">
                        <span class="customer-content-sm content" id="spDescription"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">核心技术：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <textarea id="taCoreTechnology" disabled="disabled" class="textarea-large-full hidden">@project.CoreTechnology</textarea>
                    <div id="divCoreTechnology">
                        <span class="customer-content-sm content" id="spCoreTechnology"></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">关键词：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.Keyword</label>

                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">商业计划书：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    @if (project.Attachments != null && project.Attachments.Count > 0)
                    {
                        foreach (var attachment in project.Attachments)
                        {
                            <div class="attachmen-list">
                                <a class="customer-content-sm" href="@attachment.VirtualPath" download="@attachment.Name">@attachment.Name</a>
                            </div>
                        }
                    }
                </div>

            </div>


            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}负责人姓名", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.Principal</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}负责人电话", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.PrincipalPhone</label>

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}负责人邮件", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.PrincipalMail</label>

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}负责人职位", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.PrincipalPosition</label>

                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}联系人姓名", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.Contact</label>

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}联系人电话", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.ContactPhone</label>

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}联系人邮件", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.ContactMail</label>

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                    <label class="customer-content-sm">@string.Format("{0}联系人职位", userType)：</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <label class="customer-content-sm content">@project.ContactPosition</label>

                </div>
            </div>

        </div>
    </div>
    <div class="cl-xs-12 col-sm-4 col-md-4">
        <div class="form-horizontal" style="padding-bottom:100px;">
            

            <div class="form-group">
                <div class="col-md-12">
                    <label class="customer-content-sm">审核备注：</label>
                </div>
                <div class="col-md-12">
                    <textarea id="taAuditRemark" class="textarea-large-full"></textarea>
                    

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="customer-content-sm">审核历史记录：</label>
                </div>
                <div class="col-md-12">
                    @{
                        var ques = project.Ques
                            .Where(q=>q.AuditStatus != Common.Audit_Waiting)
                            .OrderByDescending(q => q.CreateDate).ToList();
                        foreach (var que in ques)
                        {
                            <div class="customer-content-sm que-list">
                                <div>@que.CreateDate</div>
                                <div>@Common.Dic_Audit[que.AuditStatus]</div>
                                <div>
                                    <textarea class="textarea-large-full" disabled="disabled">@que.AuditRemark</textarea>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>
        </div>
    </div>
    
</div>
<script>
    
   
    $(function () {
        LoadTextareaContent("Description");
        LoadTextareaContent("BusinessAddress");
        LoadTextareaContent("OrganizationDescription");
        LoadTextareaContent("CoreTechnology");

        $("#btnConfirm").click(function () {
            Audit('@Common.Audit_Success');

        });

        $("#btnReject").click(function () {

            Audit('@Common.Audit_Failue');
        });

    });

    function LoadTextareaContent(name) {
        var description = $("#ta" + name).val();;
        document.getElementById("sp" + name).innerText = description
    }


    function Audit(auditstatus)
    {
        var auditRemark = $("#taAuditRemark").val();
        if(auditstatus =='@Common.Audit_Failue' && (auditRemark == null || auditRemark ==""))
        {
            layer.alert("拒绝时审核备注不能为空。", {
                skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
            });
            return;
        }

        var obj = {
            ProjectId: '@project.Id',
            AuditStatus: auditstatus,
            AuditRemark: auditRemark
        };

        $.ajax({
            type: "POST",
            url: "/ProjectApply/IntelInnovationProjectApply/DoAudit",
            dataType: "json",
            data: obj,
            async: false,   //同步
            success: function (message) {
                if (message.Success) {
                    $("body").hideLoading();

                    CloseAuditScreen();
                    RefreshTable();

                } else {
                    $("body").hideLoading();

                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });
                    return;
                }
            }
        });

    }
</script>


