@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;
@{
    Layout = null;
    var project = (M_IntelInnovationProjectApply)ViewData["project"];

    var user = (M_User)ViewData["user"];
    var userType = string.Empty;
    if (!string.IsNullOrEmpty(user.UserType) && Common.Dic_UserTypes.ContainsKey(user.UserType))
    {
        userType = Common.Dic_UserTypes[user.UserType];
    }

}


<style>
    .attachmen-list {
        padding-bottom: 10px;
    }

        .attachmen-list a {
            text-decoration: underline;
        }

    .que-list {
        margin-top: 10px;
        margin-bottom: 20px;
    }
     .form-group .content{font-weight:normal}
     .title{
         text-align:center;
     }
     .detail-content{
         padding:10px 10px;
     }
</style>
<div class="close-modal" data-dismiss="modal">
    <i class="fa fa-3x fa-close"></i>
</div>
<div class="container" style="padding-bottom:100px;">

    <h3 class="customer-h3 text-center">详 细</h3>
    <div class="modal-footer">

        <button type="button" class="btn btn-lg btn-info"
                data-dismiss="modal">
            退 出
        </button>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9">
        
        <div class="col-md-12">
            <table style="width:100%;border:solid 1px black;" border="1">
                <colgroup>
                    <col style="width:20%" />
                    <col style="width:20%" />
                    <col style="width:20%" />
                    <col style="width:20%" />
                    <col style="width:20%" />

                </colgroup>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">@string.Format("{0}名称", userType)</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        <label class="customer-content-sm">@project.OrganizationName</label>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">项目名称</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        <label class="customer-content-sm">@project.Name</label>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">所属行业领域</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        <label class="customer-content-sm">@project.FieldScopeName</label>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">项目阶段</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        <label class="customer-content-sm">@Common.Dic_ProjectStage[project.ProjectStage]</label>
                    </td>
                </tr>
                @if (user.UserType == Common.UserType_Enterprise)
                {
                    <tr>
                        <td class="title">
                            <label class="customer-content-sm title">营业执照注册号</label>
                        </td>
                        <td class="detail-content" colspan="2">
                            <label class="customer-content-sm">@project.BusinessLicense</label>
                        </td>
                        <td class="title">
                            <label class="customer-content-sm title">@string.Format("{0}成立时间", userType)</label>
                        </td>
                        <td class="detail-content">
                            <label class="customer-content-sm">@System.Convert.ToDateTime(project.FoundedTime).ToString("yyyy-MM-dd")</label>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>

                        <td class="title">
                            <label class="customer-content-sm title">@string.Format("{0}成立时间", userType)</label>
                        </td>
                        <td class="detail-content" colspan="4">
                            <label class="customer-content-sm">@System.Convert.ToDateTime(project.FoundedTime).ToString("yyyy-MM-dd")</label>
                        </td>
                    </tr>
                }
                <tr>

                    <td class="title">
                        <label class="customer-content-sm title">办公地址</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        <textarea id="taBusinessAddress" disabled="disabled" class="textarea-large-full hidden">@project.BusinessAddress</textarea>
                        <div id="divBusinessAddress">
                            <span class="customer-content-sm content" id="spBusinessAddress"></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">网址</label>
                    </td>
                    <td class="detail-content" colspan="2">
                        <label class="customer-content-sm">@project.Website</label>
                    </td>
                    <td class="title">
                        <label class="customer-content-sm title">微信公众号</label>
                    </td>
                    <td class="detail-content">
                        <label class="customer-content-sm">@project.WebChatNumber</label>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        &nbsp;
                    </td>
                    <td class="title">
                        <label class="customer-content-sm detail-content">姓名</label>
                    </td>
                    <td class="title">
                        <label class="customer-content-sm detail-content">职位</label>

                    </td>
                    <td class="title">
                        <label class="customer-content-sm detail-content">联系电话</label>

                    </td>
                    <td class="title">
                        <label class="customer-content-sm detail-content">邮箱</label>

                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">@string.Format("{0}负责人信息", userType)</label>
                    </td>
                    <td class="detail-content">
                        <label class="customer-content-sm">@project.Principal</label>
                    </td>
                    <td class="detail-content">
                        <label class="customer-content-sm">@project.PrincipalPosition</label>
                    </td>
                    <td class="detail-content">
                        <label class="customer-content-sm">@project.PrincipalPhone</label>
                    </td>
                    <td class="detail-content">
                        <label class="customer-content-sm">@project.PrincipalMail</label>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">联系人人信息</label>
                    </td>
                    <td class="detail-content">
                        <label class="customer-content-sm">@project.Contact</label>
                    </td>
                    <td class="detail-content">
                        <label class="customer-content-sm">@project.ContactPosition</label>
                    </td>
                    <td class="detail-content">
                        <label class="customer-content-sm">@project.ContactPhone</label>
                    </td>
                    <td class="detail-content">
                        <label class="customer-content-sm">@project.ContactMail</label>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">@string.Format("{0}概要", userType)</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        <textarea id="taOrganizationDescription" disabled="disabled" class="textarea-large-full hidden">@project.OrganizationDescription</textarea>
                        <div id="divOrganizationDescription">
                            <span class="customer-content-sm content" id="spOrganizationDescription"></span>
                        </div>

                    </td>

                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">项目简介</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        <textarea id="taDescription" disabled="disabled" class="textarea-large-full hidden">@project.Description</textarea>
                        <div id="divDescription">
                            <span class="customer-content-sm content" id="spDescription"></span>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">核心技术</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        <textarea id="taCoreTechnology" disabled="disabled" class="textarea-large-full hidden">@project.CoreTechnology</textarea>
                        <div id="divCoreTechnology">
                            <span class="customer-content-sm content" id="spCoreTechnology"></span>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">关键词</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        <label class="customer-content-sm">@project.Keyword</label>

                    </td>

                </tr>
                <tr>
                    <td class="title">
                        <label class="customer-content-sm title">商业计划书</label>
                    </td>
                    <td class="detail-content" colspan="4">
                        @if (project.Attachments != null && project.Attachments.Count > 0)
                        {
                            foreach (var attachment in project.Attachments)
                            {
                                <div class="attachmen-list">
                                    <a class="customer-content-sm" href="@attachment.VirtualPath" download="@attachment.Name">@attachment.Name</a>
                                </div>
                            }
                        }
                    </td>

                </tr>


            </table>
        </div>

    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="form-horizontal" style="padding-bottom:100px;">

            <div class="form-group">
                <div class="col-md-12">
                    <label class="customer-content-sm">审核历史记录：</label>
                </div>
                <div class="col-md-12">
                    @{
                        var ques = project.Ques
                            .Where(q => q.AuditStatus != Common.Audit_Waiting)
                            .OrderByDescending(q => q.CreateDate).ToList();
                        foreach (var que in ques)
                        {
                            <div class="customer-content-sm que-list">
                                <div>@que.CreateDate</div>
                                <div>@Common.Dic_Audit[que.AuditStatus]</div>
                                <div>
                                    <textarea class="textarea-large-full" disabled="disabled">@que.AuditRemark</textarea>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(function () {
        LoadTextareaContent("Description");
        LoadTextareaContent("BusinessAddress");
        LoadTextareaContent("OrganizationDescription");
        LoadTextareaContent("CoreTechnology");

    });

    function LoadTextareaContent(name) {
        var description = $("#ta" + name).val();;
        document.getElementById("sp" + name).innerText = description
    }

</script>


