@{
    ViewBag.Title = "活动";
    ViewBag.Description = "智能+创新创业服务平台》活动";
    List<M_Article> firstThreeActivitiyForecast = (List<M_Article>)ViewData["FirstThreeActivitiyForecast"];
    List<M_Article> firstThreeWonderfulActivies = (List<M_Article>)ViewData["FirstThreeWonderfulActivies"];
}
@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;

<link href="~/Scripts/jiathis/jiathis-share.css" rel="stylesheet">
<script type="text/javascript" src="../Scripts/jiathis/jiathis-share.js" charset="utf-8"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=2107415" charset="utf-8"></script>

<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-is-8 col-sm-8 col-md-8" id="left">
                <div class="tab-content">
                    <div class="tab-pane active" id="activityforecast">
                        <h2 class="customer-h2">活动预告</h2>
                        
                        <div class="articleBody" id="activityforecastBody"></div>
                        <div class="articlePageBar">
                            <ul id="activityforecastPaginator"></ul>
                        </div>

                    </div>
                    <div class="tab-pane" id="wonderfulactivity">
                        <h2 class="customer-h2">精彩活动</h2>

                        <div class="articleBody" id="wonderfulactivityBody"></div>
                        <div class="articlePageBar">
                            <ul id="wonderfulactivityPaginator"></ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-is-4 col-sm-4 col-md-4">
                <fieldset class="article-search-section">
                    <input type="text" class="form-control input-lg articleSearchInput" placeholder="Search Titles">
                    <a href="#javaScript:void(0)" class="articleSearchButton"><i class="fa fa-search fa-2x text-info"></i></a>

                </fieldset>

                <div class="article-right" id="right">
                    <ul class="articleTag" id="tagTab">
                        <li class="active"><a class="btn btn-xl" name="activityforecast" href="#activityforecast">活动预告</a></li>
                        <li><a class="btn btn-lg" name="wonderfulactivity" href="#wonderfulactivity">精彩活动</a></li>
                        
                    </ul>
                    <div id="recentActivities">
                        <h3 class="customer-h3">最新预告</h3>
                        @foreach (var article in firstThreeActivitiyForecast)
                        {
                            <p>
                                <a class="customer-content-sm" href="/Activity/Detail?id=@article.Id" style="cursor:pointer">
                                    @article.SubTitle - @article.Pubtime.ToString("yyyy/MM/dd")
                                </a>
                            </p>
                        }

                        <h3 class="customer-h3">最新活动</h3>
                        @foreach (var article in firstThreeWonderfulActivies)
                        {
                            <p>
                                <a class="customer-content-sm" href="/Activity/Detail?id=@article.Id" style="cursor:pointer">
                                    @article.SubTitle - @article.Pubtime.ToString("yyyy/MM/dd")
                                </a>
                            </p>
                        }
                        
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>

<script>

    var anchor = '@Request["anchor"]';
    //当前内容面板类型（即文章类型_tabType）
    //如果锚点标记不为空，则锚点标记即为当前tab类型，否则默认为“活动预告”
    var _tabType = anchor != null && anchor != "" ? anchor : "activityforecast";

    $(function () {
        //初始化显示面板内容
        $("a[name=" + _tabType + "]").tab("show");
        //初始化分页数据
        InitPaging();

        //tab点击事件
        $('#tagTab a').click(function (e) {
            //重新设置当前tab类型
            _tabType = this.name;
            //切换tab时重新生成分页
            InitPaging();

            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        });

        //查询按钮事件
        $(".articleSearchButton").click(function (e) {

            InitPaging();
        });
        $('.articleSearchInput').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                InitPaging();
            }
        });

    })

    //设置右边div高度与左边一致
    function SetRightHeight() {
        var divHeight = $('#left').height();
        $('#right').css({ 'height': divHeight});
    }

    function InitPaging()
    {
        //获取总页数及第一页数据
        var firstResult = GetPageData(1);
        //加载第一页数据
        RenderPageData(firstResult.data);

        //重置分页条
        ResetPaginator();
        //超过一页才显示分页
        if (firstResult.totalPages > 1) {
            InitPaginator(firstResult.totalPages);
        }

    }
    //重置分页条
    function ResetPaginator()
    {
        $('#' + _tabType + "Paginator").html("");

    }
    //配置分页属性
    function InitPaginator(totalPages)
    {
        //重置分页条

        var options = {
            size: 'large',            //指定分页条的大小
            bootstrapMajorVersion: 3,  //指定bootstrap版本，为v3，则容器必须为ul;如果版本为v2，则容器必须为div
            numberOfPages: 10,         //设置可选分页按钮个数，默认5
            currentPage: 1,          //当前页
            totalPages: totalPages,         //总页数（从服务端获取）
            onPageClicked: function (e, originalEvent, type, page) {
                //获取分页数据
                var result = GetPageData(page);
                //渲染当前页数据
                RenderPageData(result.data);
            },
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first":
                        return "第一页";
                    case "prev":
                        return "前一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "最后一页";
                    case "page":
                        return page;
                }
            }
        }

        $('#' + _tabType + "Paginator").bootstrapPaginator(options);
    }
    //获取分页数据
    function GetPageData(currentPage)
    {

        var resultData = {
            totalPages: 0,
            data: null
        };

        var params = {
            "ArticleType": _tabType,
            "SubTitle": $(".articleSearchInput").val(),
            "page": currentPage
        };

        //添加遮罩
        $(".article-search-section").showLoading();
        //获取数据总页数
        $.ajax({
            type: "POST",
            url: "/Article/GetPageData",
            data: params,
            dataType: "json",
            async: false,   //同步
            success: function (result) {

                resultData.totalPages = result.totalPages;
                resultData.data = result.pageDatas;
                //添加遮罩
                $(".article-search-section").hideLoading();
            }
        });

        return resultData;

    }

    //重新生成Body
    function RenderPageData(articles)
    {
        var dynamicHtml = "";
        for (var i = 0; i < articles.length;i++)
        {

            var pubTime = eval('new ' + eval(articles[i].Pubtime).source);

            var localDate = pubTime.toLocaleDateString();


            var contentHref = "/Activity/Detail?id=" + articles[i].Id;
            var shareHref = window.location.host + contentHref;

            
            dynamicHtml += '<div class="row article-row">';
            dynamicHtml += '<div class="col-md-12">';
            dynamicHtml += '<h3 class="customer-h3">' + articles[i].SubTitle + '</h3>';

            //一键分享
            dynamicHtml += '<div onmouseover=setShare("' + articles[i].Id + '","' + shareHref + '")>';
            dynamicHtml += '<div class="jiathis_style">';
            dynamicHtml += '<a href="http://www.jiathis.com/share?uid=2107415" class="jiathis jiathis_txt" target="_blank">';
            dynamicHtml += '<img src="../img/logos/share.gif" border="0" />';
            dynamicHtml += '</a>';
            dynamicHtml += '</div>';
            dynamicHtml += '</div>';

            dynamicHtml += '<p class="customer-content-sm text-right">' + localDate + '</p>';
            dynamicHtml += '</div>';
            dynamicHtml += '<div class="col-md-4">';
            dynamicHtml += '<a href="' + contentHref + '">';
            var imageVirtualPath = "";
            if (articles[i].Image != null)
                imageVirtualPath = articles[i].Image.VirtualPath;
            dynamicHtml += '<img src="' + imageVirtualPath + '" class="img-responsive" alt="无图标"/>';
            dynamicHtml += '</a>';
            dynamicHtml += '</div>';
            dynamicHtml += '<div class="col-md-8">';
            dynamicHtml += '<p class="customer-content-sm">';
            dynamicHtml += articles[i].Description ==null ?"":articles[i].Description;
            dynamicHtml += '</p>';
            dynamicHtml += '<a class="btn-gelatine btn-gelatine-info" href="' + contentHref + '"><strong>阅读全文</strong></a>';

            dynamicHtml += '</strong></a>';
            dynamicHtml += '</div>';
            dynamicHtml += '</div>';
        }
        $("#" + _tabType + "Body").html(dynamicHtml);

    }

</script>