@using Padmate.ServicePlatform.Models;
@using Padmate.ServicePlatform.Utility;
@using System.Configuration;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "2016英特尔创新创业大赛投票";
    //项目内容
    var project = (M_IntelInnovationProjectApply)ViewData["project"];
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
    var isStartVote = (bool)ViewData["isStartVote"];
    var isEndVote = (bool)ViewData["isEndVote"];
}

<link href="~/Content/vote.css" rel="stylesheet" />
<!--浏览器指纹识别-->
<script src="~/Scripts/fingerprint2.min.js"></script>

<section class="contact vote-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 voteendtime">
                @if (isEndVote)
                {
                    <div>
                        <h2 class="customer-h2">
                            投票已结束
                            <a class="customer-content-md" href="#result">查看结果</a>
                        </h2>

                    </div>
                }
                

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                <div class="vote-area">

                    <div class="vote-head" style="height: 180px;">
                        <p class="customer-content-sm whitefont">团队：@project.OrganizationName</p>
                        <p class="customer-content-sm">项目：@project.Name</p>
                    </div>
                    <div class="vote-content">
                        <div class="col-xs-6 col-is-6 col-sm-12 col-md-12">
                            <label class="customer-content-sm">@project.VoteNo 号</label>
                            
                        </div>
                        <div class="col-xs-6 col-is-6 col-sm-6 col-md-6">
                            <label class="customer-content-sm">
                                <font id='@string.Format("votecount{0}",project.Id)'>@project.TotalVotes</font>票
                            </label>
                            <a class="btn-vote-show" id="@string.Format("btn-vote-show{0}",project.Id)" style="visibility:hidden"></a>
                        </div>
                        <div class="col-xs-12 col-is-12 col-sm-6 col-md-6 vote-btn">
                            <a class="btn btn-gelatine btn-vote" href="javaScript:void(0)" onclick="vote('@project.Id')">
                                <i class="fa fa-thumbs-o-up"></i><strong class="customer-content-sm">投票</strong>
                            </a>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>


                </div>


        </div>

       
    </div>
</section>
@if(User.IsInRole(SystemRole.BackstageAdmin) || User.IsInRole(SystemRole.SystemAdmin))
{
    @Html.Partial("_VoteAnalysis")

}

@if (isEndVote)
{
    @Html.Partial("_Result")

}

@Html.Partial("_VoteFun")