@using Padmate.ServicePlatform.Models;
@using Padmate.ServicePlatform.Utility;
@using System.Configuration;

@{
    ViewBag.Title = "2016英特尔创新创业大赛投票";
    //项目内容
    var project = (M_IntelInnovationProjectApply)ViewData["project"];
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    M_VoteConfig voteconfig = (M_VoteConfig)ViewData["voteconfig"];

    var isStartVote = (bool)ViewData["isStartVote"];    
    var isEndVote = (bool)ViewData["isEndVote"];
    
    
}
<!--浏览器不使用缓存-->
@*<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />*@

<link href="~/Content/vote.css" rel="stylesheet" />

<style>
  
</style>

<section class="contact vote-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 voteendtime">
                @if (isEndVote)
                {
                    <div>
                        <h2 class="customer-h2"> 
                          投票已结束
                            <a class="customer-content-md" href="#result">查看结果</a>
                        </h2>
                        
                    </div>
                }
                else
                {
                    var tip = "投票开始时间";
                    if(isStartVote)
                    {
                        tip = "投票截止时间";
                    }
                    <div>
                        <h2 class="customer-h2"> @tip：@voteconfig.VoteEndTime </h2>
                    </div>
                    <div class="couunt-down customer-content-lg">
                        <strong id="day_show">0天</strong>
                        <strong id="hour_show">0时</strong>
                        <strong id="minute_show">0分</strong>
                        <strong id="second_show">0秒</strong>
                    </div>
                }
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <fieldset class="vote-search-section">
                    <input type="text" class="form-control input-lg vote-search" placeholder="先输入编号或项目名称">
                    <a href="javaScript:void(0)" class="btn btn-vote-search"><i class="fa fa-search fa-2x text-info"></i></a>

                </fieldset>
            </div>
            
        </div>
        
        <div class="row">
            
            
            <div class="votebody" id="votebody"></div>

        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <div class="votePageBar">
                    <ul id="votePaginator"></ul>
                </div>
                
            </div>
            <div class="col-md-12">
                <div class="rule">

                    <h3 class="customer-h3 whitefont">
                        投票规则：
                    </h3>
                    <p class="customer-content-lg whitefont">
                        1、投票日期：2016年11月17日——11月30日23:55
                    </p>
                    <p class="customer-content-lg whitefont">
                        2、每天每个ip每个用户仅限投1票
                    </p>
                    <p class="customer-content-lg whitefont">

                        3、本次活动公平公正公开，禁止以不正当手段进行作弊行为（如异常投票），一经发现则按票数归零处理，作弊行为超过3次者，将被取消人气奖评选资格
                    </p>
                    <p class="customer-content-lg whitefont">
                        4、本活动最终解释权归派美特所有
                    </p>
                </div>
            </div>

        </div>

        
        
    </div>
</section>
@if (isEndVote)
{
    @Html.Partial("_Result")

}

<!--浏览器指纹识别-->
<script src="~/Scripts/fingerprint2.min.js"></script>
<!--倒计时-->
<script src="~/Scripts/count-down.js"></script>


<script>
    var currentPage = '@Request["page"]';
    var _currentPage = currentPage != null && currentPage != "" ? currentPage : 1;
    var votecounttime = '@ViewData["counttime"]';

    $(function () {
        timer(votecounttime);
        //初始化分页数据
        InitPaging();

        //查询按钮事件
        $(".vote-search").change(function (e) {

            InitPaging();
        });

      

        document.onkeydown = function (e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode == 13) {
                InitPaging();


            }
        }
        
        $(window).resize(function () {
            ResizeVoteHead();
        });
    })

   

    function InitPaging()
    {
        //获取总页数及当前页数据
        var pageResult = GetPageData(_currentPage);
        
        //加载当前页数据
        RenderPageData(pageResult.data);
        ResizeVoteHead();
        //重置分页条
        ResetPaginator();
        //超过一页才显示分页
        if (pageResult.totalPages > 1) {
            InitPaginator(pageResult.totalPages);
        }

       

    }
    //重置分页条
    function ResetPaginator()
    {
        $("#votePaginator").html("");

    }
    //配置分页属性
    function InitPaginator(totalPages)
    {
        //重置分页条

        var options = {
            size: 'large',            //指定分页条的大小
            bootstrapMajorVersion: 3,  //指定bootstrap版本，为v3，则容器必须为ul;如果版本为v2，则容器必须为div
            numberOfPages: 10,         //设置可选分页按钮个数，默认5
            currentPage: _currentPage,          //当前页
            totalPages: totalPages,         //总页数（从服务端获取）
            pageUrl: function(type, page, current){
                var url = '@string.Format("/intel-innovation-project-vote{0}", @urlRewriteExtension)';
                if(page !=1)
                {
                    url = url+"?page="+page;
                }

                return url;

            },
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first":
                        return "第一页";
                    case "prev":
                        return "前一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "最后一页";
                    case "page":
                        return page;
                }
            }
        }

        $("#votePaginator").bootstrapPaginator(options);
    }
    //获取分页数据
    function GetPageData(currentPage)
    {

        var resultData = {
            totalPages: 0,
            data: null
        };

        var params = {
            "Search": $(".vote-search").val(),
            "page": currentPage
        };

        //获取数据总页数
        $.ajax({
            type: "POST",
            url: "/ProjectApply/IntelInnovationProjectVote/GetPageData",
            data: params,
            dataType: "json",
            async: false,   //同步
            success: function (result) {
                resultData.totalPages = result.totalPages;
                resultData.data = result.pageDatas;
            }
        });

        return resultData;

    }

    //重新生成Body
    function RenderPageData(projects)
    {
        var dynamicHtml = "";
        if (projects.length > 0)
        {
            for (var i = 0; i < projects.length; i++) {
                var voteHref = "/intel-innovation-project-vote/" + projects[i].VoteNo + '@urlRewriteExtension';
                var projectName = projects[i].Name;
                var projectDescription = projects[i].Description;

                //获取字节长度
                //var projectNameCharNum = projects[i].Name.replace(/[^\x00-\xff]/g, "**").length;
                //if (projectNameCharNum > 50) {
                //    projectName = autoAddEllipsis(projectName, 50);
                //}

                //获取字节长度
                var projectDesCharNum = projects[i].Description.replace(/[^\x00-\xff]/g, "**").length;
                if (projectDesCharNum > 100) {
                    projectDescription = autoAddEllipsis(projectDescription, 100);
                }

                dynamicHtml += '<div class="col-is-6 col-sm-4 col-md-3">';
                dynamicHtml += '<div class="vote-area">';

                dynamicHtml += '<a href="' + voteHref + '">';
                dynamicHtml += '<div class="vote-head">';
                dynamicHtml += ' <p class="customer-content-sm whitefont companyname">' + projects[i].VoteNo + '号</p>';
                dynamicHtml += ' <p class="customer-content-sm project-title">项目：' + projectName + '</p>';
                dynamicHtml += ' <p class="customer-content-xs project-desc">简介：' + projectDescription + '</p>';
                dynamicHtml += '</div>';
                dynamicHtml += '</a>';

                dynamicHtml += '<div class="vote-content">';
                dynamicHtml += '<div class="col-xs-5 col-is-6 col-sm-6 col-md-6">';
                dynamicHtml += '<label class="customer-content-sm" style="color:red;">';
                dynamicHtml += '<font id="votecount' + projects[i].Id + '" >' + projects[i].TotalVotes + '</font>票';
                dynamicHtml += '</label>';
                dynamicHtml += '<a class="btn-vote-show" id="btn-vote-show' + projects[i].Id + '" style="visibility:hidden"></a>';
                dynamicHtml += '</div>';
                dynamicHtml += '<div class="col-xs-7 col-is-6 col-sm-6 col-md-6 vote-btn">';
                dynamicHtml += '<a class="btn btn-gelatine btn-vote" href="javaScript:void(0)" onclick="vote(' + projects[i].Id + ')">';
                dynamicHtml += '<i class="fa fa-thumbs-o-up"></i>';
                dynamicHtml += '<strong class="customer-content-xs">投票</strong>';
                dynamicHtml += '</a>';
                dynamicHtml += '</div>';
                dynamicHtml += '</div>';
                dynamicHtml += '<div style="clear:both"></div>';
                dynamicHtml += '</div>';


                dynamicHtml += '</div>';

            }
        } else {
            dynamicHtml += '<h3 class="customer-h3 whitefont">已找到0条记录</h3>';
        }
        
        $("#votebody").html(dynamicHtml);

    }

    

    function ResizeVoteHead()
    {
        var higestCaption = 0;
        $(".vote-head").each(function () {

           // var sectionHight = $(this).height();
            var pElement = $(this).children("p");
            var allPHeight = 0;
            for (var i = 0; i < pElement.length;i++)
            {
                allPHeight += pElement[i].clientHeight;
            }
            
            if (higestCaption < allPHeight) {
                higestCaption = allPHeight;
            }
        });
        
        $(".vote-head").each(function () {
            $(this).css({ 'height': higestCaption+40 });


        });
    }

   
</script>
@Html.Partial("_VoteFun")
