@using System.Configuration;
@{
    ViewBag.Title = "服务";
    ViewBag.Description = "智能+创新创业服务平台》服务";
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
    
}
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="customer-h2 animated tada">
                    <strong class="nine-black">9</strong>
                    大服务供您选择
                </h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-is-6 col-sm-4 col-md-4">
                <div class="service-item">
                    <a href="@string.Format("/service/market{0}",urlRewriteExtension)">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="customer-h4">市场平台</h4>
                        <span class="customer-content-sm">
                            进行市场调研、举办论坛讲座和创意创新创业大赛
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4">
                <div class="service-item">
                    <a href="@string.Format("/service/product{0}",urlRewriteExtension)">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-info"></i>
                            <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="customer-h4">产品平台</h4>
                        <span class="customer-content-sm">
                            设计-方案、客户需求、产品众筹、ODM/OEM
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4">
                <div class="service-item">
                    <a href="@string.Format("/service/engineer{0}",urlRewriteExtension)">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-success"></i>
                            <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="customer-h4">工程平台</h4>
                        <span class="customer-content-sm">
                            样板制作、模治检量工具、试做试产、产品认证
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-is-6 col-sm-4 col-md-4">
                <div class="service-item">
                    <a href="@string.Format("/service/make{0}",urlRewriteExtension)">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-warning"></i>
                            <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="customer-h4">制造平台</h4>
                        <span class="customer-content-sm">
                            大批量生产&专业化制造
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4">
                <div class="service-item">
                    <a href="@string.Format("/service/sale{0}",urlRewriteExtension)">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="customer-h4">销售平台</h4>
                        <span class="customer-content-sm">
                            国内电商、跨境电商、B2B、B2C等进行销售
                        </span>
                    </a>
                </div>

            </div>
            <div class="col-is-6 col-sm-4 col-md-4">
                <div class="service-item">
                    <a href="@string.Format("/service/supplymanagement{0}",urlRewriteExtension)">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-line-chart  fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="customer-h4">供应链管理</h4>
                        <span class="customer-content-sm">
                            仓储物流、分发配送、采购外发、精益管理
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-is-6 col-sm-4 col-md-4">
                <div class="service-item">
                    <a href="@string.Format("/service/brand{0}",urlRewriteExtension)">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="customer-h4">品牌经营</h4>
                        <span class="customer-content-sm">
                            进行品牌策划、品牌管理、品牌开发、品牌规划等
                        </span>
                    </a>
                </div>

            </div>
            <div class="col-is-6 col-sm-4 col-md-4">
                <div class="service-item">
                    <a href="@string.Format("/service/tutor{0}",urlRewriteExtension)">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="customer-h4">导师平台</h4>
                        <span class="customer-content-sm">
                            战略规划、企业教练、顾问培训、产学研、协会、人力资源开发
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4">
                <div class="service-item">
                    <a href="@string.Format("/service/fund{0}",urlRewriteExtension)">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="customer-h4">资金平台</h4>
                        <span class="customer-content-sm">
                            发起种子基金、进行股权投资、对接股权众筹、基金、PE、VC、股权交易结构和保险、银行等金融机构
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>


<script>

    $(function () {
        ServiceHover();
    })

    function ServiceHover() {
        $(".service-item").bind('mouseenter', function () {
            $(this).find(".fa-stack").addClass("service-item-span-lg");
            $(this).find(".fa-stack").find(".fa-inverse").addClass("animated flip");

            var current = $(this);
            //删除出选中div外的其它div的特效
            $(".service-item").each(function () {
                if (current.html() != $(this).html()) {
                    $(this).find(".fa-stack").removeClass("service-item-span-lg");
                    $(this).find(".fa-stack").find(".fa-inverse").removeClass("animated flip");

                }
            });

        });

        $(".service-item").bind('mouseleave', function () {
            
        });
        
    }

</script>