@using System.Configuration;
@{
    ViewBag.Title = "产品平台";
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
    
}
<!--产品平台-->
<section id="services-productplatform" class="bg-light-gray portfolioContainer">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="customer-h3 service-heading">产品平台</h3>
                <span class="customer-content-sm"> &nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="@string.Format("/service/product/zzproject{0}",urlRewriteExtension)" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/zzxm.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">众创项目</h4>
                        <span class="customer-content-sm">
                           
                        </span>
                    </div>

                </div>

            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="@string.Format("/service/product/iar{0}",urlRewriteExtension)" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/cxyy-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">产学研用</h4>
                        <span class="customer-content-sm">
                           
                        </span>
                    </div>

                </div>

            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="@string.Format("/service/product/culturalcreative{0}", urlRewriteExtension)" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/whcy-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">文化创意</h4>
                        <span class="customer-content-sm">
                           
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="@string.Format("/service/product/idmd{0}", urlRewriteExtension)" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/idmd-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">ID & MD</h4>
                        <span class="customer-content-sm">
                            
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="@string.Format("/service/product/hardwaredesign{0}", urlRewriteExtension)" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/yjsj-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">硬件设计</h4>
                        <span class="customer-content-sm">
                            
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="@string.Format("/service/product/softwaredesign{0}", urlRewriteExtension)" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/rjkf-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">软件开发</h4>
                        <span class="customer-content-sm">
                           
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="@string.Format("/service/product/customerrequirement{0}", urlRewriteExtension)" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/khxq-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">客户需求</h4>
                        <span class="customer-content-sm">
                            
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="@string.Format("/service/product/productcrowdfunding{0}", urlRewriteExtension)" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/cpzc-bg.png" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">产品众筹</h4>
                        <span class="customer-content-sm">
                            
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="@string.Format("/service/product/odmoem{0}", urlRewriteExtension)" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/odmoem-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">ODM/OEM</h4>
                        <span class="customer-content-sm">
                            
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<script>

    $(function () {

    })

</script>