@using Padmate.ServicePlatform.Models;
@using System.Configuration;
@{
    var project = (M_Project)ViewData["project"];
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
    var currentHref = "/product/" + project.Id + urlRewriteExtension;
    ViewBag.Title = project.Name;
}
<style>
    .projectdownload{
        margin:10px auto;
        margin-bottom:50px;
    }
</style>
<div class="container">
    <h3>
        <a class="customer-content-xs" href="/">首页</a> »
        <a class="customer-content-xs" href="@string.Format("/service{0}",urlRewriteExtension)">服务</a> »
        <a class="customer-content-xs" href="@string.Format("/service/product{0}",urlRewriteExtension)">产品平台</a> »
        <a class="customer-content-xs" href="@string.Format("/service/product/zzproject{0}",urlRewriteExtension)">众创项目</a> »
        <a class="customer-content-xs" href="@currentHref">@project.Name</a>

    </h3>
    <hr />
    @Html.Raw(project.Content)

    @if(project.ProjectDownloads.Count >0)
    {
        <div class="projectdownload">
            <hr />
            @foreach (var attachment in project.ProjectDownloads)
            {
                <label class="customer-content-sm">@attachment.Description：</label>
                <a class="customer-content-sm" href="@attachment.VirtualPath">点此下载</a>
                <br />
            }
        </div>
    }
    

</div>
