@using Padmate.ServicePlatform.Models;
@using System.Configuration;
@{
    ViewBag.Title = "众创项目";
    ViewBag.Current = "zzproject";
    
    var zzProjects = (List<M_Project>)ViewData["zzprojects"];
    var otherProjects = (List<M_Project>)ViewData["otherprojects"];
    
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
}


<style>
    .product-nav{
        background-color:white;
        padding:10px 0px;
        width:100%;
        
    }
    .product-nav-fixed{
        position:fixed;
        z-index:100;
    }
</style>
<div class="product-nav">
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs" id="projectTab">
                <li class="active"><a href="#zzproject">众创项目</a></li>
                <li><a href="#otherproject">其它项目</a></li>
            </ul>

            
        </div>
    </div>

</div>
<div class="bg-light-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                @Html.Partial("_nav")
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="zzproject">
                    <div class="row">
                        @foreach (var project in zzProjects)
                        {
                            var imageVirtualPath = project.Image == null ? "../img/small_model.jpg"
                                 : project.Image.VirtualPath;
                            var href = "/product/" + project.Id + urlRewriteExtension;
                            
                            <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                                <a class="information-box" href="@href">
                                    <img class="img-responsive" src="@imageVirtualPath" alt="@project.Name"/>
                                    <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                                        <div class="information-box-caption-content">
                                            <!--div文字居中-->
                                            <div class="divmiddle-box">
                                                <div class="divmiddle-box-content">
                                                    <p class="customer-content-xs whitefont">
                                                        @project.Description
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                                <h4 class="customer-h4"> @project.Name</h4>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane" id="otherproject">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/product-nav.js"></script>

<script>

      $(function () {
        $('#projectTab a:first').tab('show');//初始化显示哪个tab

        $('#projectTab a').click(function (e) {
          e.preventDefault();//阻止a链接的跳转行为
          $(this).tab('show');//显示当前选中的链接及关联的content
        })
      })
</script>