@{
    Layout = null;
    var project = (M_Project)ViewData["project"];
}
@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;


<div class="close-modal" data-dismiss="modal">
    <i class="fa fa-3x fa-close"></i>
</div>
<div class="container">

    <h3 class="customer-h3 text-center">修 改</h3>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">项目名称：</label>
            </div>
            <div class="col-md-10">
                <input class="inputS" id="tbName" placeholder="项目名称"  value="@project.Name"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">排列顺序：</label>
            </div>
            <div class="col-md-10">
                <input class="inputS" id="tbSequence" placeholder="排列顺序" value="@project.Sequence"/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">项目简介：</label>
            </div>
            <div class="col-md-10">
                <textarea class="textareaS" id="taDescription">@project.Description</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">项目图标：</label>
            </div>
            <div class="col-md-10">
                <div id="uploadThumbnailsImage">选择图片</div>
                <span class="customer-content-sm" id="status"></span>
            </div>
            <div class="col-lg-4 col-md-6 col-md-offset-2" style="margin-top:10px;">
            
                @if (project.Image != null && !string.IsNullOrEmpty(project.Image.VirtualPath))
                {
                    <img class="image-smallsize" id="showUploadImage" src="@project.Image.VirtualPath"/>

                }
                else
                {
                    <img class="image-smallsize" id="showUploadImage" src="~/img/small_model.jpg" alt="无图标" />
                }

            </div>

        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    <textarea id="taProjectContent" name="taProjectContent">@project.Content</textarea>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-info"
            data-dismiss="modal">
        退 出
    </button>
    <button type="button" class="btn btn-lg btn-danger" onclick="SaveAdd()">
        保 存
    </button>
</div>

<link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
<script src="~/Scripts/webuploader/webuploader.js"></script>
<script src="~/Scripts/webuploader/customer-image-webuploader.js"></script>
<script>

    var editor = CKEDITOR.instances["taProjectContent"];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace("taProjectContent", {
        enterMode: CKEDITOR.ENTER_BR
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');

    var uploader;
    $(function () {
        
        //初始化图片上传插件
        uploader = $("#uploadThumbnailsImage").InitImageWebUploader({
            url: "/Service/Project/UploadThumbnailsImage",
            size: 1,
            multiple: false,
            autoupload: false,
            thumbid: "#showUploadImage",
            singleupload: true
        }, function () {
            //图片上传成功后关闭对话框，刷新表格
            CloseEditScreen();
            //刷新
            RefreshTable();
            $("body").hideLoading();
        });
    })

   
    function UploadImage(projectId) {

        uploader.options.formData.projectId = projectId;
        uploader.upload();
    }


    //修改或新增保存
    function SaveAdd() {

        $("body").showLoading();
        var saveObj = ConstructSaveObj();
        var jsonParam = JSON.stringify(saveObj);
        $.ajax({
            type: "POST",
            url: "/Service/Project/SaveEdit",
            dataType: "json",
            data: jsonParam,
            async: false,   //同步
            success: function (message) {

                if (message.Success) {
                    //上传图片
                    UploadImage(message.ReturnStrId);


                } else {
                    $("body").hideLoading();

                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });
                    return;
                }
            }
        });
    }


    //构造保存对象
    function ConstructSaveObj() {
        var editor = CKEDITOR.instances["taProjectContent"];
        var obj = {
            Id:'@project.Id',
            Name: $("#tbName").val(),
            Description: $("#taDescription").val(),
            Type: '@Common.ZZ_Project',
            Sequence: $("#tbSequence").val(),
            Content: editor.getData()

        };
        return obj;
    }


</script>