@using Padmate.ServicePlatform.Models;
@using Padmate.ServicePlatform.Utility;
@using System.Configuration;
@{
    ViewBag.Title = "账号注册";
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
    string returnUrl = string.Format("/manage/userinfo{0}{1}", urlRewriteExtension, "?from=register");

}

<link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
<script src="~/Scripts/webuploader/webuploader.js"></script>

<script src="~/Scripts/jquery.form.js"></script>
<style>
    .content-body-padding, .contact {
        padding: 0px 0px;
    }
    .attachment-delete {
        float: right;
    }


    
</style>


<section class="contact">
    <div class="registerbg">
        <div class="register-intro">
            <h2 class="customer-h2 whitefont">2016英特尔海峡创新创业大赛比赛报名处</h2>

        </div>
    </div>

    <div class="container" style="padding-bottom:100px;">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                            <label class="customer-content-sm">用户名：</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <input class="input-large-full data-UserName" name="UserName" placeholder="包含大小写字母及数字" type="text"
                                   required oninvalid="setCustomValidity('请输入用户名')" oninput="setCustomValidity('')" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                            <label class="customer-content-sm">密码：</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <input class="input-large-full data-Password" name="Password" placeholder="密码必须为6-15位字母和数字组成" type="password"
                                   required oninvalid="setCustomValidity('请输入密码')" oninput="setCustomValidity('')" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                            <label class="customer-content-sm">确认密码：</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <input class="input-large-full data-ConfirmPassword" name="ConfirmPassword" placeholder="再次确认密码" type="password"
                                   required oninvalid="setCustomValidity('请再次输入密码')" oninput="setCustomValidity('')" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                            <label class="customer-content-sm">邮箱：</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <input class="input-large-full data-EmailAddress" name="EmailAddress" placeholder="邮箱" type="email"
                                   required oninvalid="setCustomValidity('请输入邮箱')" oninput="setCustomValidity('')"
                                   />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                            <label class="customer-content-sm">用户类型：</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <select name="UserType" id="UserType" class="select-large-full data-UserType">
                                @foreach (var key in Common.Dic_UserTypes.Keys)
                                {
                                    <option value="@key">@Common.Dic_UserTypes[key]</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group div-businesslicense" style="visibility:hidden;">
                        <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                            <label class="customer-content-sm">上传营业执照：</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <div id="uploadFiles">上传营业执照</div>
                            <img class="img-responsive" style="display:none" id="showUploadImage" src="~/img/businesslicense.png" alt="营业执照"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 col-sm-3 col-md-3 control-label">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <input class="btn btn-lg btn-success btn-register"
                                   style="padding-left:50px;padding-right:50px;" type="submit" value="确 认" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</section>
<script>

    var userId = "";
    $(function () {

        if (!WebUploader.Uploader.support()) {
            alert('当前页面一些功能不支持您的浏览器！如果你使用的是IE浏览器，请尝试升级 flash 播放器');
            throw new Error('function does not support the browser you are using.');
        } else {
            InitFileUploader();
        }

        SelectUserType();

        $(".btn-register").click(function () {
            Register();
        });

        document.onkeydown = function(e){ 
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {
                Register();

            }
        }



    });
    
    var mask;
    function Register()
    {
        var obj = {
            UserName: "",
            Password: "",
            ConfirmPassword: "",
            EmailAddress: "",
            UserType:""
        };

        obj = $.GetBindData(obj);

        //提交前校验
        var initedFiles = fileUploader.getFiles("inited"); //初始状态的文件

        if ($("#UserType").val() == '@Common.UserType_Enterprise' && initedFiles.length == 0) {
            layer.alert("请上传营业执照", {
                skin: 'layui-layer-molv' //样式类名
                     , closeBtn: 0
            });
            return false;
        }

        mask = layer.load(0,  //0代表加载的风格，支持0-2
        {
            shade: [0.5, '#fff'] //0.1透明度的白色背景
        });

        $.ajax({
            type: "POST",
            url: "/Account/Register",
            dataType: "json",
            data: obj,
            async: false,   //同步
            success: function (message) {
                if (message.Success) {
                    userId = message.ReturnStrId;

                    //上传文件
                    var files = fileUploader.getFiles("inited");//初始状态
                    if (files.length > 0) {
                        //上传附件
                        UploadFiles();


                    } else {//如果当前没有文件上传

                        layer.close(mask);
                        layer.alert("注册成功", {
                            skin: 'layui-layer-molv' //样式类名
                                         , closeBtn: 0
                        }, function () {
                            //跳转
                            window.location.href = '@returnUrl';
                        });
                    }


                } else {
                    layer.close(mask);

                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                             , closeBtn: 0
                    });
                }

            }
        });
    }


    function SelectUserType() {

        $("#UserType").change(function () {

            var selectValue = $(this).val();
            if (selectValue == '@Common.UserType_Enterprise') {
                $(".div-businesslicense").css("visibility", "visible");
                $("#showUploadImage").css("display", "block");
            } else {

                //清空文件上传队列
                EmptyFileQueue();

                $(".div-businesslicense").css("visibility", "hidden");
                $("#showUploadImage").css("display", "none");
            }

        });
    }

    var fileUploader;
    function InitFileUploader() {

        var GUID = WebUploader.Base.guid();//一个GUID
        // 初始化Web Uploader
        fileUploader = WebUploader.create({
            auto: false,   // 选完文件后，是否自动上传。
            swf: '../Scripts/webuploader/Uploader.swf',
            server: '/User/User/ChunkedUploadAttachment',
            duplicate: true, //可重复上传同一文件
            pick: {
                id: '#uploadFiles',
                //只能选择一个文件上传
                multiple: false
            },
            compress: false, //图片不压缩
            multiple: false,
            fileNumLimit: 1,
            fileSingleSizeLimit: 5 * 1024 * 1024, // 单个文件最大不能超过5 M
            chunked: true,//开始分片上传
            chunkSize: 2 * 1024 * 1024,//每一片的大小为2M
            formData: {
                guid: GUID //自定义参数
            },
            accept: {           // 只允许选择图片文件。
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            thumb: {        //缩略图配置
                // 为空的话则保留原有图片格式。
                // 否则强制转换成指定的类型。
                type: ''

            }

        });

        fileUploader.on('beforeFileQueued', function (file) {

            EmptyFileQueue();
        });

        fileUploader.on('fileQueued', function (file) {
            //生成预览图片
            fileUploader.makeThumb(file, function (error, src) {
                if (error) {
                    $("#showUploadImage").attr('alt', "预览错误");
                } else {
                    $("#showUploadImage").attr('src', src);
                }
            }, 1, 1);

        });

        fileUploader.on('uploadStart', function (file) {

        });

        fileUploader.on('uploadProgress', function (file, percentage) {


        });


        fileUploader.on('error', function (handler) {

            //隐藏遮罩
            layer.close(mask);
            if (handler == "Q_TYPE_DENIED") {
                alert("只允许上传后缀为：gif,jpg,jpeg,bmp,png的图片");
            }

            if (handler == "Q_EXCEED_NUM_LIMIT") {
                alert("只能上传一个文件");
            }
            if (handler == "F_DUPLICATE") {
                alert("不能重复上传同一文件");
            }
            if (handler == "F_EXCEED_SIZE") {

                layer.alert("文件大小不能超过5M", {
                    skin: 'layui-layer-molv' //样式类名
                       , closeBtn: 0
                });
            }
        });


        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        fileUploader.on('uploadSuccess', function (file, response) {


            if (response.Success == false || response.Success == "false") {
                layer.alert(response.Content, {
                    skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                });
            } else {

                var obj = {
                    UserId: userId,
                    Type: '@Common.UserAttachment_BusinessLicense', //附件类型
                    guid: GUID,
                    fileName: file.name,
                    extension: file.ext
                };

                $.post('/User/User/MergeFile', obj, function (data) {


                    layer.alert("注册成功", {
                        skin: 'layui-layer-molv' //样式类名
                                , closeBtn: 0
                    }, function () {
                        //跳转
                        window.location.href = '@returnUrl';
                    });


                });



            }

        });

        fileUploader.on('uploadFinished', function () {
            //无论有没有要上传的文件都会进入
            layer.close(mask);


        });


        // 完成上传完了，成功或者失败，先删除进度条。
        fileUploader.on('uploadComplete', function (file) {

        });
    }

    function UploadFiles() {

        fileUploader.upload();
    }


    //清空文件上传队列
    function EmptyFileQueue() {
        //清空显示区域
        $("#showUploadImage").attr("src", "../img/businesslicense.png");

        var files = fileUploader.getFiles();
        for (var i = 0; i < files.length; i++) {
            //删除队列中的文件
            fileUploader.removeFile(files[i], true);
        }

    }

</script>

